<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study_Buddy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Syncopate&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./css/style.css">

<body>
    <div class="skippy visually-hidden-focusable overflow-hidden">
        <div class="container-xl">
            <a class="d-inline-flex p-2 m-1" href="#content">Skip to main content</a>

        </div>
    </div>
    {{>header}}
    <main class="main">

            <div class="container px-4 px-md-3">
                <div class="row mt-4 main_content">
                    <div class="col-6">

                        <h1 class="mb-2" style="font-family: 'Quicksand';">The best study companion <br> you can get !</h1>
                        <ul class="mt-4 " style="font-family: 'Quicksand';">
                            <li class="mb-2">Boost productivity </li>
                            <li>Toolkit for software engineers</li>
                            <li>Easy to use</li>
                            <li>All in one</li>
                            <li>Track your progress</li>
                        </ul>


                    </div>
                    <div class="col-2 ms-auto me-5">
                        {{#if notisauth}}<a href='/register'><div class="btn btn-outline-primary m-2 login">Register</div></a>

                <a href='/login'><div class="btn btn-outline-primary m-2 login">Login</div></a>{{/if}}
                    </div>
                </div>
                

            </div>

    </main>

    {{>footer}}
</body>

</html>