<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study_buddy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Syncopate&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
    {{>header}}
    <div class=" container form_container">
         <form method="POST" class="row justify-content-center">
            
            <div class="col-9 mb-3 mt-5">
            <label for="email" class="form-label">E mail</label>
            <input class="form-control" id="email" name="email" >
            </div>
            <div class="col-9 mb-3">
            <label for="pass" class="form-label">Password</label>
            <input class="form-control" id="pass" type="password" name="password">
            </div>
            <div class="col-4 mb-3 mt-3">
            <input class="btn btn-success mb-4 register_btn" type="submit" value="Log In">
            </div>
            <div class="col-4 mb-3 mt-3">
            <a href="/register" class="btn btn-primary mb-4 register_btn">Sign up</a>
            </div>
       
        
        
         </form>
    </div>
    
      <script>
          window.onload = function(){
                {{#if error}}
                alert('Unable to login')
                {{/if}}
                {{#if auth}}
                alert('Pls authenticate')
                {{/if}}
          }
    </script>
</body>
</html>