<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Syncopate&display=swap" rel="stylesheet"><link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/resources.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   
</head>
<body>
    {{>header}}
    <div class="container">
        <div class="row justify-content-center">
           
            <div class="col-12 index rounded-3 p-4 shadow mb-3" style="background-color: seashell; color:black" >
                 <h3 class="h3">Index</h3>
            <ul>
        <li><a href="#tutorial">Tutorial Sites</a></li>
        <li><a href="#books">Books</a></li>
        <li><a href="#site">Practice Sites</a></li>
        <li><a href="#problem">Problem classifier</a></li>
        <li><a href="#cpp">C++ tips</a></li>
        <li><a href="#ide">IDEs</a></li>
        <li><a href="#youtube">Youtube Tutorials</a></li>
        <li><a href="#interview">Interview prepration</a></li>
        <li><a href="#development">Development</a></li>
        <li><a href="#academics">Academics</a></li>
    </ul>
        </div>
         <div id="tutorial" class="col-12 index rounded-3 p-4 shadow mb-3" style="background-color: seashell; color:black" data-aos="flip-left">
        <h3 class="h3">Tutorial Sites</h3>
        <ul>
            <li><a target="_blank" href="https://www.geeksforgeeks.org/fundamentals-of-algorithms/">Algorithms-GeekforGeeks</a></li>
            <li><a target="_blank" href="https://www.commonlounge.com/discussion/d4a14f601eb44281b6c579e73d126cca/main?r=acp">Competitive promgramming commonlounge</a></li>
            <li><a target="_blank" href="https://medium.com/basecs">basecs</a></li>
            <li><a target="_blank" href="https://cp-algorithms.com/">CP Algorithms</a></li>
            <li><a target="_blank" href="https://www.hackerearth.com/practice/codemonk/">CodeMonk Hackerearth</a></li>
            <li><a target="_blank" href="https://codeforces.com/edu/courses">Codeforces Edu</a></li>
        </ul>
    </div>
    <div id="books" class="col-12 index rounded-3 p-4 shadow mb-3" style="background-color: seashell; color:black" data-aos="flip-left">
        <h3 class="h3">Books</h3>
        <ul>
            <li><a target="_blank" href="https://cpbook.net/"><strong>Competitive Programming</strong> , by Steven and Felix Halim</a></li>
            <li><a target="_blank" href="https://www.amazon.com/Programming-Challenges-Contest-Training-Computer/dp/0387001638"><strong>Programming Challenges</strong> : The Programming Contest Training Manual, by Steven Skiena and Miguel Revilla</a></li>
            <li><a target="_blank" href="https://cses.fi/book.html"> <strong>Competitive Programmer's Handbook</strong> , by Antti Laaksonen</a></li>
            <li><a target="_blank" href="https://www.amazon.com/Computational-Geometry-Applications-Mark-Berg/dp/3540779736"><strong>Computational Geometry: Algorithms and Applications</strong> , by Mark de Berg, Otfried Cheong, Marc van Kreveld, Mark Overmars</a></li>
            <li><a target="_blank" href="http://comscigate.com/Books/contests/icpc.pdf"><strong>The Hitchhiker’s Guide to the Programming Contests</strong> , by Nite Nimajneb</a></li>
            <li><a target="_blank" href="https://mitpress.mit.edu/books/introduction-algorithms"><strong>Introduction to Algorithms</strong> , by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein</a></li>
            <li><a target="_blank" href="https://www.amazon.com/Discrete-Mathematics-Applications-Kenneth-Rosen/dp/0072899050"><strong>Discrete Mathematics and Its Applications</strong> , by Kenneth H. Rosen</a></li>
            <li><a target="_blank" href="http://amzn.to/VjhioK"><strong>Algorithm Design</strong> , by Jon Kleinberg and Éva Tardos</a></li>
            <li><a target="_blank" href="https://www.amazon.com/Concrete-Mathematics-Foundation-Computer-Science/dp/0201558025"><strong>Concrete Mathematics: A Foundation for Computer Science</strong> , by Ronald L. Graham, Donald E. Knuth, Oren Patashnik</a></li>
            <li><a target="_blank" href="https://www.amazon.com/Linear-Algebra-Its-Applications-5th/dp/032198238X/ref=sr_1_1?ie=UTF8&qid=1455475253&sr=8-1&keywords=Linear+Algebra+and+Its+Applications"><strong>Linear Algebra and Its Applications</strong> , by David C. Lay, Steven R. Lay, Judi J. McDonald</a></li>
            
            
        </ul>
    </div>
    <div id="site" class="col-12 index rounded-3 p-4 shadow mb-3" style="background-color: seashell; color:black">
        <h3 class="h3">Practice Sites</h3>
        <ul>
            <li><a target="_blank" href="https://codeforces.com/">Codeforces</a></li>
            <li><a target="_blank" href="https://www.topcoder.com/">TopCoder</a></li>
            <li><a target="_blank" href="https://atcoder.jp/">Atcoder</a></li>
            <li><a target="_blank" href="https://www.codechef.com/">Codechef</a></li>
            <li><a target="_blank" href="https://www.hackerrank.com/">HackerRank</a></li>
            <li><a target="_blank" href="https://www.hackerearth.com/">	Hackerearth</a></li>
            <li><a target="_blank" href="https://cses.fi/">CSES</a></li>
            <li><a target="_blank" href="https://practice.geeksforgeeks.org/explore/?company%5B%5D=Amazon&problemType=functional&page=1&sortBy=submissions&company%5B%5D=Amazon">GFG:Explore</a></li>
           
        </ul>
    </div>
    <div id="problem" class="col-12 index rounded-3 p-4 shadow mb-3" style="background-color: seashell; color:black">
        <h3 class="h3">Problem classifier</h3>
        <ul>
            <li><a target="_blank" href="https://a2oj.com/Categories.jsp">A2 Online Judge</a></li>
            <li><a target="_blank" href="http://problemclassifier.appspot.com/">Problem Classifier</a></li>
            <li><a target="_blank" href="https://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8">UVa Online Judge</a></li>
            <li><a target="_blank" href="https://codeforces.com/problemset/tags/dp">Codeforces Tags</a></li>
            <li><a target="_blank" href="https://goo.gl/unDETI">Juniors Training Sheet, by Mostafa Saad Ibrahim</a></li>
            <li><a target="_blank" href="https://community.topcoder.com/tc?module=ProblemArchive">Topcoder problem archive</a></li>
           
        </ul>
    </div>
    <div id="cpp" class="col-12 index rounded-3 p-4 shadow mb-3" style="background-color: seashell; color:black">
        <h3 class="h3">c++</h3>
        <ul>
            <li><a target="_blank" href="Power up C++ with the Standard Template Library — Topcoder: Part 1, Part 2">An introductory tutorial on basic C++ STLs.</a></li>
            <li><a target="_blank" href="https://codeforces.com/blog/entry/5217">Learn more about C++ I/O optimizations.</a></li>
           
        </ul>
    </div>
    <div id="ide" class="col-12 index rounded-3 p-4 shadow mb-3" style="background-color: seashell; color:black">
        <h3 class="h3">IDEs</h3>
        <ul>
            <li><a target="_blank" href="https://www.vim.org/download.php">Vim</a></li>
            <li><a target="_blank" href="https://www.gnu.org/software/emacs/download.html">Emacs</a></li>
            <li><a target="_blank" href="http://codeblocks.org/downloads">Code Blocks</a></li>
            <li><a target="_blank" href="https://www.sublimetext.com/3">Sublime Text</a></li>
           
        </ul>
    </div>
    <div id="youtube" class="col-12 index rounded-3 p-4 shadow mb-3" style="background-color: seashell; color:black">
        <h3 class="h3">Youtube Channels</h3>
        <ul>
            <li><a target="_blank" href="https://www.youtube.com/channel/UC0zvY3yIBQTrSutsV-4yscQ">CodeNcode</a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UC5WO7o71wvxMxEtLRkPhiQQ">Aditya Verma</a></li>
           
        </ul>
    </div>
    <div id="interview" class="col-12 index rounded-3 p-4 shadow mb-3" style="background-color: seashell; color:black">
        <h3 class="h3">Interview Prepration</h3>
        <ul>
            <li><a target="_blank" href="leetcode.com">LeetCode</a></li>
            <li><a target="_blank" href="https://seanprashad.com/leetcode-patterns/">LeetCode Archive</a></li>
            
            <li><a target="_blank" href="https://www.careercup.com/">CareerCup</a></li>
            <li><a target="_blank" href="https://www.interviewbit.com/">InterviewBit</a></li>
            
           
        </ul>
    </div>
    <div id="development" class="col-12 index rounded-3 p-4 shadow mb-3" style="background-color: seashell; color:black">
        <h3 class="h3">Development</h3>
        <ul>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCFbNIlppjAuEX4znoulh0Cw">Web Dev Simplified</a></li>
            <li><a target="_blank" href="https://www.youtube.com/user/CodeBabes">Code Babes</a></li>
            
            <li><a target="_blank" href="https://www.youtube.com/channel/UCeVMnSShP_Iviwkknt83cww">Code with Harry</a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCYbK_tjZ2OrIZFBvU6CCMiA">Brackeys</a></li>
            <li><a target="_blank" href="https://www.youtube.com/c/OnlineTutorials4Designers/videos">Designing</a></li>
            <li><a target="_blank" href="https://www.youtube.com/user/joshstarmer">JoshStarmer</a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UC0e3QhIYukixgh5VVpKHH9Q">Code Bullet</a></li>
            <li><a target="_blank" href="https://www.youtube.com/c/Telusko">Telusko</a></li>
            
           
        </ul>
    </div>
    <div id="Academics" class="col-12 index rounded-3 p-4 shadow mb-3" style="background-color: seashell; color:black">
        <h3 class="h3">Academic Tutorials</h3>
        <ul>
            <li><a target="_blank" href="https://www.youtube.com/user/nesoacademy">Neso Academy</a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCJihyK0A38SZ6SdJirEdIOw">Gate Smashers</a></li>
            
            <li><a target="_blank" href="https://www.youtube.com/channel/UCA6yfpYhy5sWMjRGOT-OAIQ">Knowledge Gate</a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCEBb1b_L6zDS3xTUrIALZOw">Mit OCW</a></li>
            
           
        </ul>
    </div>
    </div>

    
   
    
    
    
        </div>
        <script>
            AOS.init();
        </script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>