.text-right{
    text-align: right;
}
.profile{
    width: 150px;
    height: 150px;
}
.btn-warning{
    color: white;
    width: 145px;
}
.row .col-6{

    width: 500px;
    
}
.row .col-12{
    width: 1000px;
}