.text-right{
    text-align: right;
}
.profile{
    width: 150px;
    height: 150px;
}
.btn-warning{
    color: white;
    width: 145px;
}
.row .col-6{

    width: 500px;
    
}
.row .col-12{
    width: 1000px;
}
.btn.search{
    border-color: white;
    color: white;
    background-color: black;
}
a{
    text-decoration: none;
}
.btn.search:hover{
    background-color: white;
    color: black;
}
.main_container{
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 8px;
    background-color: rgba(0, 0, 0,0.35);
    height: 450px;
}
.pg{
    position: absolute;
}
.pg-1{
    visibility: visible;
}
.pg-2{
    visibility: hidden;
}
.pg-3{
    visibility: hidden;
}
.pg-4{
    visibility: hidden;
}
.arrow{
    width: 50px;
    height: 50px;
}
.nav_arrow{
    width: 50px;
}