.form_container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    border: #428DFC;
    border-radius: 8px;
    border-style: solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 400px;
}

@media only screen and (max-width: 400px) {

    .form_container{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
        border: #428DFC;
        border-radius: 8px;
        border-style: solid;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 80%;
        height: 40%;
    }

    .btn{
        width: 80px;
    }
    
}