.form_container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    border: #ffffff;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    border-style: solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 400px;
}

@media only screen and (max-width: 400px) {

    .form_container{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 90px;
        border: #ffffff;
        border-radius: 8px;
        border-style: solid;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 80%;
        height: 40%;
    }

    .btn{
        width: 80px;
    }
    
}
.btn.register_btn{
    border-color: white;
    color: white;
    width: 80px;
    background-color: black;
}
a{
    text-decoration: none;
}
.btn.register_btn:hover{
    background-color: white;
    color: black;
}