.navbar{
    background-color: #428DFC;
}
.nav_link{
    color: rgb(255, 255, 255)!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}
main ul{
    list-style-type: none;
    padding: 0;
}

h1{
    color: #5068BD;
}

@media only screen and (max-width: 581px) {


    .main_img{



         width: 300px;

    }

}

.bd-footer{
    bottom: 0px;
    padding: 0px;
    width: 100%;
    height: 210px;
    margin-right: 0px;
    background-color: #428DFC;
}
.footer_content{
    position: relative;
    width: 100%;
    height: 200px;
    
}
.bd-footer ul{
    color: ivory;
   list-style: none;
}
.bd-footer a{
    color: grey;
    text-decoration: none;
}


